.shop-category {
  width: 100%;
}
.shop-category img {
  width: 100%;
}

.sort-and-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.shopcategory-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 20px;
  border: 1px solid;
  /* border-radius: 47px; */
}
.shpcategory-indexsort {
  font-size: 14px;
}
.drop-icon {
  width: 13px;
  height: 10px;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 0px 30px;
}

.shopcategory-loadmore {
  border-radius: 50px;
  margin-top: 50px;
  padding: 10px 30px;
  color: #747070;
  border: 1px solid #747070;
}

.shopcategory-loadmore:active {
  border: 1px solid gray;
}
.shopcategory-loadmore:focus-visible,
.shopcategory-loadmore:focus,
.shopcategory-loadmore:hover {
  outline: none;
  border: 1px solid gray;
}

@media (max-width: 767px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }

  .shopcategory-sort {
    padding: 0px 5px;
    font-size: 13px;
  }
  .shopcategory-sort img {
    width: 11px;
    height: 6px;
  }
  .shpcategory-indexsort {
    font-size: 13px;
  }
}
@media (max-width: 441px) {
  .shopcategory-products {
    grid-template-columns: 1fr;
  }
}
