.breadcrum-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0px 10px 100px;
}
.breadcrum-container a {
  color: black;
}
.breadcrum-container a:hover {
  color: #ff4141;
}

.left-icon {
  width: 15px;
  height: 10px;
  transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .breadcrum-container {
    padding: 10px;
  }
  .breadcrum-container a {
    font-size: 13px;
  }
  .left-icon {
    width: 9px;
    height: 8px;
  }
}
