.login-signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: linear-gradient(180deg, #ff7235, #c17758 60%);
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
}

.login-signup-container h1 {
  font-family: popins;
  font-size: 48px;
}

@media (max-width: 441px) {
  .login-signup-container h1 {
    font-size: 35px;
  }
}

.login-signup-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0px auto;
}
.login-signup-fields input {
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
}
.login-signup-fields input:focus-visible {
  border-bottom: 1px solid gray;
  outline: none;
}

.btn {
  padding: 15px;
  width: 80%;
  margin: 0px auto;
  background: #ed3535;
  color: white;
  border: 1px solid #ed3535;
  transition: all ease-in-out 0.4s;
}

.btn:active {
  border: 1px solid #ed3535;
  transform: scale(1.2);
}
.btn:focus-visible,
.btn:focus,
.btn:hover {
  outline: none;
  border: 1px solid #ed3535;
}

.aleady-have-account {
  font-size: 13px;
}
.aleady-have-account span {
  text-decoration: underline;
  color: white;
}

.login-signup-agree {
  display: flex;
  width: 80%;
  margin: 0px auto;
  font-size: 13px;
}

.login-signup-agree input {
  height: fit-content;
  margin-top: 3px;
}
