.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0px 1px 3px -2px black;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo-p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  color: gray;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.nav-menu li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0px;
  width: 0%;
  height: 3px;
  background: #ff4141;
  transition: width ease-in-out 0.3s;
}
.nav-menu li:hover:before,
.nav-menu .active::before {
  width: 100%;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-login-cart button {
  padding: 1px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  text-decoration: none;
}
.nav-login-cart button:active,
.nav-login-cart button:hover,
.nav-login-cart button:focus {
  background: #f3f3f3;
  border-color: #ff4141;
}
.nav-login-cart a img {
  width: auto;
  height: 25px;
}

.nav-cart-count {
  position: absolute;
  top: -5px;
  right: -7px;
  background: orange;
  padding: 0px 5px;
  border-radius: 100%;
  font-size: 11px;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
.navbar a:hover {
  color: #515151;
}
.mobile-nav-menu {
  display: none;
}

@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
  }
  .nav-logo {
    gap: 5px;
  }
  .nav-logo-p {
    font-size: 18px;
  }
  .nav-logo img {
    width: auto;
    height: 35px;
  }
  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .mobile-nav-menu h3 {
    font-size: 14px;
  }
  .mobile-ul {
    display: none;
    margin-top: 10px;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 6px 9px;
    box-sizing: border-box;
    transition: all ease-in-out 0.4s;
    background: white;
    z-index: 2;
    border-radius: 5px;
  }
  .show-mobile {
    display: flex;
    position: absolute;
    box-shadow: 1px 1px 5px gray;
    top: 50px;
  }

  .mobile-ul li {
    padding: 6px 9px;
    border: 1px solid gray 1px solid gray none 1px solid gray;
    width: 100%;
  }

  .nav-menu {
    display: none;
    gap: 10px;
    padding: 0px;
  }
  .nav-menu li {
    font-size: 13px;
  }
  .nav-login-cart {
    gap: 10px;
  }
  .nav-login-cart button {
    padding: 5px 10px;
    font-size: 13px;
  }
  .nav-login-cart a img {
    width: auto;
    height: 25px;
  }
}

@media (max-width: 441px) {
  .nav-logo-p {
    display: none;
  }
}
