.related-product {
  margin: 20px 100px;
}
.related-product h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.related-product h1 hr {
  width: 20%;
  height: 3px;
  background: black;
  border-radius: 50%;
}
.items-container {
  margin-top: 40px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 993px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .related-product {
    margin: 20px 30px;
  }
  .related-product h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .items-container {
    grid-template-columns: 1fr 1fr;
  }
  .related-product h1 {
    font-size: 30px;
  }
}
@media (max-width: 441px) {
  .items-container {
    grid-template-columns: 1fr;
  }
}
