/* ContactPage.css */
.contact-container {
  /* max-width: 600px; */
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description {
  text-align: left;
  color: orange;
  margin: 0px 20px;
}
.form-and-contact {
  display: flex;
}
.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 8px 0;
}

h1 {
  margin-top: 20px;
  color: #333; /* Set a color for the heading */
}

/* form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
} */

label {
  margin-bottom: 8px;
  color: #555; /* Set a color for the labels */
}

input,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc; /* Add a border to input fields */
  border-radius: 4px;
}
